/* Definovanie premenných pre farby */
:root {
 /*    --color-low: black;
    --color-medium-text: white;
    --color-medium-bg: blue;
    --color-high-bg: orange;
    --color-critical-bg: red; */

    
    --color-low: #495057; /* tmavšia sivá */
    --color--white: white;  
    --color-medium-text: #ffffff;
    --color-medium-bg: #7286d3; /* tlmená pastelová modrá */
    --color-high-bg: #e4a07e; /* tlmená pastelová oranžová */
    --color-critical-bg: #e88b8b; /* tlmená pastelová červená */
    --color-badge-border: #666;
}

/* Základný štýl pre všetky úrovne */
.status {
    color: var(--color-low); /* Predvolená farba textu */
    font-weight: bold;
}

/* Stredná úroveň - Medium */
.medium {
    background-color: var(--color-medium-bg);
    color: var(--color-medium-text);
    padding: 5px;
    border-radius: 4px;
}

/* Vysoká úroveň - High */
.high {
    background-color: var(--color-high-bg);
    color: var(--color-medium-text);
    padding: 5px;
    border-radius: 4px;
}

/* Kritická úroveň - Critical */
.critical {
    background-color: var(--color-critical-bg);
    color: var(--color-medium-text);
    padding: 5px;
    border-radius: 4px;
}

/* Nízka úroveň - Low */
.low {
    background-color: var(--color-white);
    padding: 5px;
    border-radius: 4px;
    color:#555;
    border:1px solid;
    border-color: var(--color-badge-border);
}

.idea_status,.idea_priority {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    min-width: 100px;
    cursor: pointer;
    padding: 6px 12px;
    height:38px;
    border:1px #666 solid;
}

.idea_comment_new form {
    display: flex;
    flex-direction: column;
}

.idea_comment_new form input, .idea_comment_new form textarea {
    width: 100%;
    margin-bottom: 10px;
    background-color: #eee;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    padding:10px;
    width: 150px;
}

dialog ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

dialog ul li:hover {
    background-color: lightgray;
    cursor: pointer;
}


.nr_of_comments {
    cursor: pointer;
}

.idea_comm_action form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.idea_status {
    border: 1px #666 solid;
}

.idea_status,
.idea_priority {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    min-width: 100px;
    cursor: pointer;
    padding: 6px 12px;
    height: 38px;
    box-sizing: border-box;
}

.idea_comm_action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.idea {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px #d1d1d1 solid;
    padding: 3px;
    background: #2C2A20;
    min-height: 50px;
    /*border-radius: 5px;*/
}



.new_idea_action
 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

/* .new_idea_action button {
    padding: 6px 12px;
    border: 1px #fdf376 solid;
    border-radius: 5px;
    background: #fdf376;
    color: #0f2031;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
} */

.new_idea form {
    padding:15px;
    width: 100%;
    box-sizing: border-box;
}

/* .new_idea form input {
    border: 1px #fdf376 solid;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    height:50px;
    font-weight: bolder;
} */

.new_idea form input::placeholder {
    font-weight: normal;
}

.new_idea form textarea {
    margin-top: 10px;
    width: 100%;
    font-weight: normal;
}

.new_idea form select {
    background-color: #253649;
    border: 1px solid #435B7C;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    width: 100%;
    font-weight: normal;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-top:10px;

}



 .new_idea, .idea_comment_new,.idea_comment {
    background: #0f2031;
     color: #fdf376;
    border: 1px #fdf376 solid;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 20px;
}

.new_idea {
    margin-left:0;
}

 .idea_top_banner{
   height:30px;
   background: #fdf376;
   }

   .idea_comment_new {
     box-sizing: border-box;
     padding:10px
   }

.idea_comment_new h4 {
    margin-bottom:10px;
}

.ideas_list, .ideas_comment_list {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

 .ideas_comment_list {
    display: flex;
    flex-direction: column;
}