.create_transaction_wrapper {
    display: none;
    width:100%;
    height:80px;
    /* background-color: #435B7C; */
    background-color: #1a1b1e;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    padding:15px;
    gap:10px;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #435B7C;
    
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
}

.new_transaction {
    width:100%;
    display: none;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top:5px;
    height:80px;
    /* border: 1px solid #435B7C; */
   /*  border:1px solid #1a1b1e; */
    background-color: #1a1b1e;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    padding:15px;
    gap:10px;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #435B7C;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
   
}

.new_transaction_actions_wrapper {
    margin-right: 120px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.transactions_filter {
    display:flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 12px;
    margin-top: 12px;
}

.transactions {
    margin-top: 20px;
    margin-bottom: 20px;
}

.transactions table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}


.transactions table tr:first-child {
    border-top: 1px solid #435B7C;
}

#modalPrice, #modalQuantity {
    width:40%;
}

#modalCurrency {
    width:50%;
}

#modalTakeProfit, #modalStopLoss {
    width:15%;
}


#tickerDetailsContent, #providerDetailsContent,#longShortDetailsContent, #assetCategoryDetailsContent, #modalPriceContent,#modalCurrencyContent, #modalTakeProfitContent, #modalStopLossContent, #modalAddNoteContent {
    display:flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 12px;
    margin-top: 12px;
}

#modalPriceContent input, #modalQuantityContent input, #modalTakeProfitContent input, #modalStopLossContent input {
    width: 100%;
    height:55px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #435B7C;
    border-radius: 5px;
    color: white;
    background-color: #253649;
    font-size: 18px;
}

#modalAddNoteContent textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #435B7C;
    border-radius: 5px;
    color: white;
    background-color: #253649;
    font-size: 18px;
}

#AssetCategoryModal {
    left:10%;
    width:30%
}

#modalAddNote {
    left:10%;
    width:50%;
    height:50%;
}

#modalAddNote button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-top: 10px;
    width: 100px;
    height:50px;
}

#modalAddNote .modal-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#modalAddNoteContent {
    flex: 1;
    min-height: 0;
}

.long {
    background-color: #00b070;
    border: #00b070 1px solid;
}

.long:hover {
    background-color: #00b070;
    border: #00b070 1px solid;
    cursor: pointer;
}

.short {
    background-color: #ff7152;
    border: #ff7152 1px solid;
}

.short:hover {
    background-color: #ff7152;
    border: #ff7152 1px solid;
    cursor: pointer;
}

.transaction {
    width:100%;
    display: flex;
    border-bottom: 1px solid #435B7C;
    height:60px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    margin-top:5px;
    padding-left:10px;
}

.transaction td {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;
}

.transaction:hover {
    background-color: #6283b3;
    background-color: #1a1b1e;
}

#LongShortModal {
    width: 350px;
}

#longShortDetailsContent {
    justify-content: center;
}

button[name="delete_transaction"]:hover {
    background-color: #ff7152;
    border: #ff7152 1px solid;
    cursor: pointer;

}

.filter_tickers {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top:5px;
}

.search_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top:5px;
    height:60%;
}

.search_wrapper input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #435B7C;
    border-radius: 5px;
    color: white;
    background-color: #253649;
}

